<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding boardgame</title>
</head>
<body>
<h1>Add board game</h1>
<form action="/add" method="post"  enctype="multipart/form-data">
  <label>Title:</label>
  <input type="text" name="title" required>
  <label>Boerdgame type:</label>
  <select name="gameType" required>
    <option value="RPG">RPG</option>
    <option value="STRATEGY">Strategy</option>
    <option value="FAMILY">Family</option>
    <option value="ADVENTURE">Adventure</option>
    <option value="CARD">Card</option>
    <option value="ADULT">Adult</option>
    <option value="SOCIAL">Social</option>
  </select>
  <label>Price:</label>
  <input type="number" name="price" required>
  <label>Quantity:</label>
  <input type="number" name="quantity" required>
  <label>Obrazek produktu:</label>
  <input type="file" name="file" required>
  <button type="submit">Dodaj</button>
</form>
<a href="/home" >Back to homepage</a>
</body>
</html>