<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board games home page</title>
</head>
<body>
<h1>Board games home page</h1>
<h3 th:text="${message}"></h3>
<h2>Choose what to do</h2>
<a href="/add">Add product</a>
<a href="/display">Display products</a>
<a href="/register">Register</a>
<a href="/login">Login</a>
<a href="/session-info">Session</a>
<br>
<div>
    <a href="/cart">Cart
        <span>(0 items)</span>
        <span>0</span>
        <span>zł</span>
    </a>
</div>
</body>
</html>